<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <h1>Parking App</h1>
    <button id="park">Park Me</button>
    <div id="map-canvas"/><img src="http://www.greeningautocompany.com/images/loading-icon.gif"/></br></br>
  </body>
</html>