<h1>Parking App</h1>
<button class="park">Park Me</button>
<button class="find">App, where's my car</button>
<button class="reset">Reset</button>
<div id="map-canvas"/><img src="http://www.greeningautocompany.com/images/loading-icon.gif"/></br></br>
<div id="directions"></div>
<div id="user_id"